
body{

    font-family: 'Oswald', sans-serif;

}


.headdiv{background-color:#6F96F1;
    border: 8px solid black ;
    border-radius: 124px;
    padding: 30px;
    margin: 50px;
    text-align: center;

    font-size: 25px;
    font-weight: 700;




}



.headdiv h1{color: white;
;
}

.headdiv h2 {color: white;

}


.erste{
background-color:aqua
}

#zweite{background-color: cornflowerblue;}